.Input {
    border-radius: 1000px;
    border: none;
    outline: none;
    background-color: #999999;
    color: white;
    text-align: center;
    min-height: 30px;
    min-width: 100%;
}

.Input::placeholder {
    text-align: center;
    color: #dddddd;
}

.Input:focus {
    border: 2px solid steelblue;
}