body {
  background-color: #222222;
}

.App {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

@media only screen and (min-width: 767px) {
  .App {
    width: 50%;
    margin-top: 50px;
  }
}

.red {
  color: #e94b3c;
}
