.VotingOption {
    display: grid;
    grid-template-columns: auto 35px;
    grid-gap: 5px;
    width: 100%;
    /* height: 25px; */
    margin: 15px 0px;
}

.VotingOption .Button {
    height: 33px;
    width: 35px;
}

.create-poll-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-poll-form>* {
    margin: 10px;
}

.new-poll-name {
    width: 100%;
    height: 30px;
}

.voting-options {
    display: flex;
    flex-direction: column;
    width: 80%;
}