.CopyToClipBoard {
    background-color: #cccccc;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.CopyToClipBoard:hover {
    background-color: #bbbbbb;
}

.CopyToClipBoard:active {
    background-color: #aaaaaa;
}