.Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 8vh;
    background-color: #111111;
    color: white;
}