.Poll {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #666666;
    /* min-height: 300px; */
    padding: 40px 0 70px 0;
    border-radius: 5px;
}

.Poll .poll-name {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin: 10px;
    word-wrap: break-word;
}

.Poll .poll-option {
    margin: 10px 0;
    width: 80%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Poll .spread-poll {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .Poll .poll-name {
        font-size: 24px;
    }
}